@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Noto Sans", "sans-serif";
}

.container-lg {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 920px;
}

.container-xl {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .row {
    justify-content: center;
  }
}

.col-1 {
  max-width: 8.33333%;
  flex: 0 0 8.33333%;
  padding: 0 15px;
}

.col-2 {
  max-width: 16.66667%;
  flex: 0 0 16.66667%;
  padding: 0 15px;
}

.col-3 {
  max-width: 25%;
  flex: 0 0 25%;
  padding: 0 15px;
}

.col-4 {
  max-width: 33.33333%;
  flex: 0 0 33.33333%;
  padding: 0 15px;
}

.col-5 {
  max-width: 41.66667%;
  flex: 0 0 41.66667%;
  padding: 0 15px;
}

.col-6 {
  max-width: 50%;
  flex: 0 0 50%;
  padding: 0 15px;
}

.col-7 {
  max-width: 58.33333%;
  flex: 0 0 58.33333%;
  padding: 0 15px;
}

.col-8 {
  max-width: 66.66667%;
  flex: 0 0 66.66667%;
  padding: 0 15px;
}

.col-9 {
  max-width: 75%;
  flex: 0 0 75%;
  padding: 0 15px;
}

.col-10 {
  max-width: 83.33333%;
  flex: 0 0 83.33333%;
  padding: 0 15px;
}

.col-11 {
  max-width: 91.66667%;
  flex: 0 0 91.66667%;
  padding: 0 15px;
}

.col-12 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col-md-1 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col-md-2 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col-md-3 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col-md-4 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col-md-5 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col-md-6 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col-md-7 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col-md-8 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col-md-9 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col-md-10 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col-md-11 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col-md-12 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .col-md-1 {
    max-width: 8.33333%;
    flex: 0 0 8.33333%;
    padding: 0 15px;
  }
  .col-md-2 {
    max-width: 16.66667%;
    flex: 0 0 16.66667%;
    padding: 0 15px;
  }
  .col-md-3 {
    max-width: 25%;
    flex: 0 0 25%;
    padding: 0 15px;
  }
  .col-md-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
    padding: 0 15px;
  }
  .col-md-5 {
    max-width: 41.66667%;
    flex: 0 0 41.66667%;
    padding: 0 15px;
  }
  .col-md-6 {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 0 15px;
  }
  .col-md-7 {
    max-width: 58.33333%;
    flex: 0 0 58.33333%;
    padding: 0 15px;
  }
  .col-md-8 {
    max-width: 66.66667%;
    flex: 0 0 66.66667%;
    padding: 0 15px;
  }
  .col-md-9 {
    max-width: 75%;
    flex: 0 0 75%;
    padding: 0 15px;
  }
  .col-md-10 {
    max-width: 83.33333%;
    flex: 0 0 83.33333%;
    padding: 0 15px;
  }
  .col-md-11 {
    max-width: 91.66667%;
    flex: 0 0 91.66667%;
    padding: 0 15px;
  }
  .col-md-12 {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0 15px;
  }
}

.col-lg-1 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col-lg-2 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col-lg-3 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col-lg-4 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col-lg-5 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col-lg-6 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col-lg-7 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col-lg-8 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col-lg-9 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col-lg-10 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col-lg-11 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col-lg-12 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

@media (min-width: 992px) {
  .col-lg-1 {
    max-width: 8.33333%;
    flex: 0 0 8.33333%;
    padding: 0 15px;
  }
  .col-lg-2 {
    max-width: 16.66667%;
    flex: 0 0 16.66667%;
    padding: 0 15px;
  }
  .col-lg-3 {
    max-width: 25%;
    flex: 0 0 25%;
    padding: 0 15px;
  }
  .col-lg-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
    padding: 0 15px;
  }
  .col-lg-5 {
    max-width: 41.66667%;
    flex: 0 0 41.66667%;
    padding: 0 15px;
  }
  .col-lg-6 {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 0 15px;
  }
  .col-lg-7 {
    max-width: 58.33333%;
    flex: 0 0 58.33333%;
    padding: 0 15px;
  }
  .col-lg-8 {
    max-width: 66.66667%;
    flex: 0 0 66.66667%;
    padding: 0 15px;
  }
  .col-lg-9 {
    max-width: 75%;
    flex: 0 0 75%;
    padding: 0 15px;
  }
  .col-lg-10 {
    max-width: 83.33333%;
    flex: 0 0 83.33333%;
    padding: 0 15px;
  }
  .col-lg-11 {
    max-width: 91.66667%;
    flex: 0 0 91.66667%;
    padding: 0 15px;
  }
  .col-lg-12 {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0 15px;
  }
}

.flex {
  display: flex;
}

.flex-jcc {
  justify-content: center;
}

.flex-aic {
  align-items: center;
}

.flex-ais {
  align-items: start;
}

.flex-jce {
  justify-content: flex-end;
}

.flex-jcb {
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.h-1 {
  height: 111px;
}

.c-primary {
  color: #00807e;
}

.c-bg-gray-100 {
  background-color: #fafafa;
}

.c-gray-300 {
  color: #818a91;
}

.c-border-gary-200 {
  border-color: #ced4da;
}

.fs-1 {
  font-size: 24px;
}

.fw-b {
  font-weight: bold;
}

.fw-m {
  font-weight: 500;
}

.whiteSpaceNowarp {
  white-space: nowrap;
}

.border-0 {
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
}

.border-b-1 {
  border-bottom: 1px solid #00807e;
}

.border-b-3 {
  border-bottom: 3px solid #00807e;
}

.box-shadow {
  box-shadow: 0px 3px 6px #00000029;
}

.mt-auto {
  margin-top: auto;
}

.pt-auto {
  padding-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.pb-auto {
  padding-bottom: auto;
}

.ms-auto {
  margin-left: auto;
}

.ps-auto {
  padding-left: auto;
}

.me-auto {
  margin-right: auto;
}

.pe-auto {
  padding-right: auto;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.px-auto {
  padding-right: auto;
  padding-left: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

.mt-0 {
  margin-top: 0;
}

.pt-0 {
  padding-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.ms-0 {
  margin-left: 0;
}

.ps-0 {
  padding-left: 0;
}

.me-0 {
  margin-right: 0;
}

.pe-0 {
  padding-right: 0;
}

.mx-0 {
  margin-right: 0;
  margin-left: 0;
}

.px-0 {
  padding-right: 0;
  padding-left: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.mt-1 {
  margin-top: 4px;
}

.pt-1 {
  padding-top: 4px;
}

.mb-1 {
  margin-bottom: 4px;
}

.pb-1 {
  padding-bottom: 4px;
}

.ms-1 {
  margin-left: 4px;
}

.ps-1 {
  padding-left: 4px;
}

.me-1 {
  margin-right: 4px;
}

.pe-1 {
  padding-right: 4px;
}

.mx-1 {
  margin-right: 4px;
  margin-left: 4px;
}

.px-1 {
  padding-right: 4px;
  padding-left: 4px;
}

.my-1 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.py-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.pt-2 {
  padding-top: 8px;
}

.mb-2 {
  margin-bottom: 8px;
}

.pb-2 {
  padding-bottom: 8px;
}

.ms-2 {
  margin-left: 8px;
}

.ps-2 {
  padding-left: 8px;
}

.me-2 {
  margin-right: 8px;
}

.pe-2 {
  padding-right: 8px;
}

.mx-2 {
  margin-right: 8px;
  margin-left: 8px;
}

.px-2 {
  padding-right: 8px;
  padding-left: 8px;
}

.my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.mt-3 {
  margin-top: 16px;
}

.pt-3 {
  padding-top: 16px;
}

.mb-3 {
  margin-bottom: 16px;
}

.pb-3 {
  padding-bottom: 16px;
}

.ms-3 {
  margin-left: 16px;
}

.ps-3 {
  padding-left: 16px;
}

.me-3 {
  margin-right: 16px;
}

.pe-3 {
  padding-right: 16px;
}

.mx-3 {
  margin-right: 16px;
  margin-left: 16px;
}

.px-3 {
  padding-right: 16px;
  padding-left: 16px;
}

.my-3 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.py-3 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.mt-4 {
  margin-top: 24px;
}

.pt-4 {
  padding-top: 24px;
}

.mb-4 {
  margin-bottom: 24px;
}

.pb-4 {
  padding-bottom: 24px;
}

.ms-4 {
  margin-left: 24px;
}

.ps-4 {
  padding-left: 24px;
}

.me-4 {
  margin-right: 24px;
}

.pe-4 {
  padding-right: 24px;
}

.mx-4 {
  margin-right: 24px;
  margin-left: 24px;
}

.px-4 {
  padding-right: 24px;
  padding-left: 24px;
}

.my-4 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.py-4 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.mt-5 {
  margin-top: 30px;
}

.pt-5 {
  padding-top: 30px;
}

.mb-5 {
  margin-bottom: 30px;
}

.pb-5 {
  padding-bottom: 30px;
}

.ms-5 {
  margin-left: 30px;
}

.ps-5 {
  padding-left: 30px;
}

.me-5 {
  margin-right: 30px;
}

.pe-5 {
  padding-right: 30px;
}

.mx-5 {
  margin-right: 30px;
  margin-left: 30px;
}

.px-5 {
  padding-right: 30px;
  padding-left: 30px;
}

.my-5 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.py-5 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.mt-6 {
  margin-top: 36px;
}

.pt-6 {
  padding-top: 36px;
}

.mb-6 {
  margin-bottom: 36px;
}

.pb-6 {
  padding-bottom: 36px;
}

.ms-6 {
  margin-left: 36px;
}

.ps-6 {
  padding-left: 36px;
}

.me-6 {
  margin-right: 36px;
}

.pe-6 {
  padding-right: 36px;
}

.mx-6 {
  margin-right: 36px;
  margin-left: 36px;
}

.px-6 {
  padding-right: 36px;
  padding-left: 36px;
}

.my-6 {
  margin-top: 36px;
  margin-bottom: 36px;
}

.py-6 {
  padding-top: 36px;
  padding-bottom: 36px;
}

.mt-7 {
  margin-top: 56px;
}

.pt-7 {
  padding-top: 56px;
}

.mb-7 {
  margin-bottom: 56px;
}

.pb-7 {
  padding-bottom: 56px;
}

.ms-7 {
  margin-left: 56px;
}

.ps-7 {
  padding-left: 56px;
}

.me-7 {
  margin-right: 56px;
}

.pe-7 {
  padding-right: 56px;
}

.mx-7 {
  margin-right: 56px;
  margin-left: 56px;
}

.px-7 {
  padding-right: 56px;
  padding-left: 56px;
}

.my-7 {
  margin-top: 56px;
  margin-bottom: 56px;
}

.py-7 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.mt-8 {
  margin-top: 100px;
}

.pt-8 {
  padding-top: 100px;
}

.mb-8 {
  margin-bottom: 100px;
}

.pb-8 {
  padding-bottom: 100px;
}

.ms-8 {
  margin-left: 100px;
}

.ps-8 {
  padding-left: 100px;
}

.me-8 {
  margin-right: 100px;
}

.pe-8 {
  padding-right: 100px;
}

.mx-8 {
  margin-right: 100px;
  margin-left: 100px;
}

.px-8 {
  padding-right: 100px;
  padding-left: 100px;
}

.my-8 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.py-8 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.mt-9 {
  margin-top: 120px;
}

.pt-9 {
  padding-top: 120px;
}

.mb-9 {
  margin-bottom: 120px;
}

.pb-9 {
  padding-bottom: 120px;
}

.ms-9 {
  margin-left: 120px;
}

.ps-9 {
  padding-left: 120px;
}

.me-9 {
  margin-right: 120px;
}

.pe-9 {
  padding-right: 120px;
}

.mx-9 {
  margin-right: 120px;
  margin-left: 120px;
}

.px-9 {
  padding-right: 120px;
  padding-left: 120px;
}

.my-9 {
  margin-top: 120px;
  margin-bottom: 120px;
}

.py-9 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.btn {
  color: #fff;
  background-color: #00807e;
  border: #00807e;
  border-radius: 4.8px;
  font-size: 20px;
  padding: 10px 40px;
}

.btn:hover {
  opacity: 0.6;
}

.btn:active {
  position: relative;
  top: 5px;
}

.card {
  margin-bottom: 38px;
  display: flex;
  flex-direction: column;
}

.card-img {
  position: relative;
  border-radius: 4px 4px 0px 0px;
}

.card-img:hover {
  opacity: 0.5;
}

.card-place {
  position: absolute;
  top: -20px;
  background-color: #64c3bf;
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
}

.card-star {
  position: absolute;
  bottom: -16px;
  color: #fff;
  background-color: #00807e;
  padding: 5px 8px;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  box-shadow: 0px 3px 6px #00000029;
  padding: 20px 20px 14px 20px;
}

.card-title {
  font-size: 24px;
  color: #00807e;
  border-bottom: 2px solid #00807e;
  font-weight: 500;
  margin-bottom: 20px;
}

.card-text {
  color: #818a91;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-Num {
  color: #00807e;
  font-weight: 500;
}

.card-price {
  color: #00807e;
  display: flex;
  align-items: center;
}

.card-bprice {
  margin-left: 4px;
  font-size: 32px;
}

.dount {
  margin-left: auto;
}

@media (max-width: 768px) {
  .dount {
    margin-left: auto;
    margin-right: auto;
    margn-top: 8px;
  }
}

.c3-chart-arcs-title {
  font-size: 14px;
}

.c3-chart-arc text {
  display: none;
}
/*# sourceMappingURL=all.css.map */